* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kiron", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #f8f9fa;
}

.main-map {
    max-width: 800px;
    width: 100%;
    margin: auto;
    border: 1px solid #ebebeb;
    background: #e0f2f1;
    border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(135deg, #e0f2f1 0%, #b2dfdb 100%);
}

.main-map h3 {
    text-align: center;
    padding: 24px 12px;
    position: relative;
    font-size: 24px;
    color: #00796a;
}

.main-map h3::before {
    content: '';
    width: 12%;
    height: 3px;
    background-color: #00796a;
    position: absolute;
    bottom: 15px;
    left: 44%;
}

.main-map h3::after {
    content: '';
    width: 25%;
    height: 1px;
    background-color: #00796a;
    position: absolute;
    bottom: 14px;
    left: 38%;
}

.st0 {
    fill: #00796a;
    stroke: #FFFFFF;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.st1 {
    font-family: "Kiron", sans-serif;
    font-weight: 700;
}

.st2 {
    font-size: 18px;
    fill: #FFD740;
    font-weight: 800;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

g:hover path,
path:hover {
    fill: #b2dfdb;
}

@media (max-width: 823px) {
    .st2 {
        font-size: 14px;
    }
}

svg {
    width: 100%;
    height: auto;
}